<h1>Twitter 後台</h1>

<a href='/admin/tweets'>所有推文清單</a> | <a href='/api/admin/tweets'>所有推文清單api</a>
| <a href='/admin/users'>使用者清單</a> | <a href='/api/admin/users'>使用者清單api</a>

<br />
<br />

<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">發文者Id</th>
      <th scope="col">發文者</th>
      <th scope="col">頭像</th>
      <th scope="col">內容(前50字)</th>
      <th scope="col">建立時間</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each tweets}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.UserId}}</td>
      <td>{{this.User.name}}</td>
      <td>
        <img class="" src="{{this.User.avatar}}" width="50px" height="50px">
      </td>
      <td>{{this.description}}</td>
      <td>{{moment this.createdAt}}</td>
      <td>
          <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST" style="float: right;">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>