<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Room</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <div class="container-fluid" id="chat-room">
    <div class="row">
      <nav class="d-flex flex-column col-3 col-md-2 border-end no-gutters">
        <div class="logo mt-3 mb-5">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M25.6996 18.4709C25.6996 18.4709 18.2328 30.5781 12.1109 30.5781C1.40314 30.5781 11.3821 7.51318 19.1916 7.51318C24.641 7.51318 25.6996 18.4709 25.6996 18.4709Z"
              fill="#FF6600" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M34.5723 33.6972C32.4451 35.9607 29.8198 37.6976 26.9044 38.7701C23.989 39.8426 20.8639 40.2213 17.7767 39.8761C14.6895 39.5309 11.7252 38.4713 9.11881 36.7813C6.51245 35.0914 4.33573 32.8175 2.76123 30.1401C4.5314 32.5477 7.53375 34.1527 11.803 34.1527C22.3199 34.1527 28.2899 25.98 28.2899 25.98C28.2899 25.98 28.8062 32.4392 34.5593 33.6972H34.5723Z"
              fill="#FF6600" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M37.7223 10.7451C39.2963 13.7527 40.0781 17.1116 39.9939 20.505C39.9096 23.8984 38.9621 27.2144 37.2407 30.1401C35.8792 29.3764 34.8725 28.1082 34.4379 26.609L32.1558 19.7724L37.7223 10.7451Z"
              fill="#FF6600" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M20.0031 0.0173688C25.0185 0.0140335 29.8513 1.89881 33.5398 5.29665L29.7521 11.4088C28.3811 7.84302 25.5957 4.2729 20.1767 4.2729C9.07841 4.2729 0.852307 16.3888 0.852307 23.9846C0.849861 24.9669 0.975283 25.9454 1.22543 26.8953C0.115582 23.8725 -0.247948 20.6265 0.165719 17.4331C0.579385 14.2398 1.75802 11.1934 3.60147 8.55306C5.44491 5.91269 7.89866 3.75634 10.7542 2.26726C13.6097 0.778179 16.7826 0.000388507 20.0031 0V0.0173688Z"
              fill="#FF6600" />
          </svg>
        </div>
        <a href="https://sean-yu-pohsiang.github.io/simple-twitter-frontend-2020/#/home"
          class="nav-btn d-flex fonSize18 align-items-center">
          <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path class="svg-fill"
              d="M22.58 7.34986L12.475 1.89686C12.178 1.73686 11.821 1.73686 11.525 1.89686L1.42502 7.34986C0.939018 7.61386 0.758018 8.21986 1.02002 8.70586C1.20002 9.04086 1.54502 9.23086 1.90002 9.23086C2.06002 9.23086 2.22402 9.19286 2.37502 9.11086L3.10902 8.71486L4.69902 19.9649C4.91502 21.1789 6.00902 22.0269 7.35902 22.0269H16.641C17.991 22.0269 19.085 21.1789 19.303 19.9389L20.891 8.71386L21.628 9.11186C22.113 9.37486 22.72 9.19386 22.982 8.70786C23.245 8.22186 23.062 7.61486 22.578 7.35286L22.58 7.34986ZM12 15.4349C10.205 15.4349 8.75002 13.9799 8.75002 12.1849C8.75002 10.3899 10.205 8.93486 12 8.93486C13.795 8.93486 15.25 10.3899 15.25 12.1849C15.25 13.9799 13.795 15.4349 12 15.4349Z"
              fill="#1C1C1C" />
          </svg>
          <span>首頁</span>
        </a>
        <a href="{{domain}}notice"
          class="nav-btn d-flex fonSize18 align-items-center {{#if (eq page 'notice')}}active{{/if}}">
          <span class="bell-icon-wrapper mr-3">
            <span id="left-column-icon-message" class=""> {{!-- new-status-light --}}
              <i class="far fa-bell text-larger"></i>
            </span>
          </span>
          <span>通知</span>
        </a>
        <a href="{{domain}}chat"
          class="nav-btn d-flex fonSize18 align-items-center {{#if (eq page 'public-chat')}}active{{/if}}">
          <span class="message-icon-wrapper mr-3">
            <span id="left-column-icon-public" class=""> {{!-- new-status-light --}}
              <i class="far fa-envelope text-larger"></i>
            </span>
          </span>
          <span>公開聊天室</span><span class="unread-count-public" style="color: red"></span>
        </a>
        <a href="{{domain}}chat/private"
          class="nav-btn d-flex fonSize18 align-items-center {{#if (eq page 'private-chat')}}active{{/if}}">
          <span class="message-icon-wrapper mr-3">
            <div id="left-column-icon-private" class=""> {{!-- new-status-light --}}
              <i class="far fa-envelope text-larger"></i>
            </div>
          </span>
          <span>私人訊息</span><span class="unread-count-private" style="color: red"></span>
        </a>
        <a href="https://sean-yu-pohsiang.github.io/simple-twitter-frontend-2020/#/users/{{user.id}}"
          class="nav-btn d-flex fonSize18 align-items-center">
          <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path class="svg-fill"
              d="M12 11.8158C13.355 11.8158 14.872 11.6658 15.84 10.5598C16.654 9.62976 16.918 8.19176 16.646 6.16776C16.266 3.34276 14.529 1.65576 12 1.65576C9.47103 1.65576 7.73403 3.34276 7.35403 6.16976C7.08203 8.19176 7.34603 9.62976 8.16003 10.5598C9.12803 11.6668 10.645 11.8158 12 11.8158ZM8.84003 6.36776C9.00203 5.16776 9.62703 3.15576 12 3.15576C14.373 3.15576 14.998 5.16876 15.16 6.36776C15.367 7.91776 15.217 8.99476 14.71 9.57276C14.255 10.0928 13.444 10.3158 12 10.3158C10.556 10.3158 9.74503 10.0928 9.29003 9.57276C8.78303 8.99476 8.63303 7.91676 8.84003 6.36776ZM20.28 19.2358C19.403 15.7098 15.998 13.2458 12 13.2458C8.00203 13.2458 4.59703 15.7098 3.72003 19.2358C3.54803 19.9278 3.69203 20.6358 4.11503 21.1758C4.52303 21.6958 5.15503 21.9958 5.84803 21.9958H18.152C18.845 21.9958 19.477 21.6958 19.885 21.1758C20.309 20.6358 20.452 19.9288 20.279 19.2358H20.28ZM18.704 20.2518C18.578 20.4118 18.388 20.4978 18.152 20.4978H5.84803C5.61303 20.4978 5.42203 20.4128 5.29603 20.2518C5.15903 20.0778 5.11603 19.8398 5.17603 19.5978C5.88603 16.7428 8.69303 14.7478 12 14.7478C15.307 14.7478 18.114 16.7418 18.824 19.5978C18.884 19.8398 18.841 20.0778 18.704 20.2518Z"
              fill="#1C1C1C" />
          </svg>
          <span>個人資料</span>
        </a>
        <a href="https://sean-yu-pohsiang.github.io/simple-twitter-frontend-2020/#/setting"
          class="nav-btn d-flex fonSize18 align-items-center">
          <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path class="svg-fill"
              d="M12 8.20996C9.90996 8.20996 8.20996 9.90996 8.20996 12C8.20996 14.09 9.90996 15.79 12 15.79C14.09 15.79 15.79 14.09 15.79 12C15.79 9.90996 14.09 8.20996 12 8.20996ZM12 14.29C10.738 14.29 9.70996 13.264 9.70996 12C9.70996 10.736 10.74 9.70996 12 9.70996C13.26 9.70996 14.29 10.736 14.29 12C14.29 13.264 13.262 14.29 12 14.29Z"
              fill="#1C1C1C" />
            <path class="svg-fill"
              d="M12.36 22.375H11.638C10.455 22.375 9.48399 21.487 9.37599 20.311L9.36199 20.164C9.33699 19.877 9.15499 19.631 8.88999 19.52C8.60399 19.4 8.30799 19.455 8.09199 19.635L7.97599 19.732C7.10799 20.457 5.72299 20.395 4.91599 19.592L4.40599 19.082C3.56999 18.242 3.50999 16.928 4.26599 16.022L4.36399 15.904C4.54999 15.682 4.59399 15.381 4.48599 15.117C4.37599 14.845 4.12799 14.663 3.83999 14.637L3.68999 14.623C2.50999 14.516 1.62299 13.543 1.62299 12.361V11.639C1.62299 10.456 2.51099 9.485 3.68699 9.377L3.84299 9.363C4.12799 9.338 4.37299 9.156 4.48499 8.89C4.59499 8.62 4.54999 8.317 4.36499 8.095L4.27099 7.979C3.51399 7.071 3.57299 5.756 4.40799 4.919L4.91999 4.407C5.72399 3.603 7.10799 3.542 7.97999 4.267L8.09599 4.365C8.31399 4.549 8.62399 4.595 8.88599 4.487C9.15599 4.375 9.33799 4.129 9.36299 3.844L9.37699 3.691C9.48399 2.511 10.457 1.625 11.639 1.625H12.361C13.544 1.625 14.515 2.513 14.623 3.689L14.637 3.845C14.662 4.13 14.843 4.375 15.109 4.485C15.386 4.602 15.689 4.547 15.903 4.368L16.023 4.266C16.89 3.543 18.277 3.604 19.083 4.406L19.593 4.918C20.429 5.756 20.489 7.071 19.733 7.978L19.633 8.096C19.445 8.316 19.399 8.618 19.51 8.884C19.622 9.154 19.87 9.334 20.156 9.362L20.308 9.376C21.488 9.483 22.375 10.456 22.375 11.638V12.361C22.375 13.544 21.487 14.515 20.311 14.623L20.156 14.637C19.872 14.661 19.626 14.842 19.516 15.107C19.403 15.379 19.449 15.681 19.633 15.902L19.733 16.022C20.489 16.927 20.429 18.242 19.593 19.082L19.083 19.592C18.276 20.396 16.893 20.456 16.023 19.732L15.908 19.636C15.691 19.453 15.378 19.406 15.118 19.514C14.845 19.628 14.663 19.874 14.638 20.16L14.624 20.31C14.517 21.483 13.544 22.37 12.362 22.37L12.36 22.375ZM8.58699 17.955C8.88699 17.955 9.17999 18.015 9.45699 18.13C10.247 18.458 10.781 19.184 10.857 20.026L10.871 20.173C10.908 20.573 11.238 20.873 11.641 20.873H12.363C12.763 20.873 13.093 20.573 13.131 20.173L13.145 20.025C13.221 19.183 13.755 18.458 14.537 18.133C15.33 17.803 16.233 17.951 16.87 18.483L16.983 18.577C17.161 18.725 17.349 18.757 17.476 18.757C17.682 18.757 17.876 18.677 18.022 18.53L18.532 18.02C18.816 17.736 18.837 17.29 18.58 16.982L18.48 16.862C17.938 16.212 17.803 15.322 18.128 14.539C18.454 13.749 19.18 13.219 20.022 13.142L20.177 13.128C20.574 13.091 20.877 12.761 20.877 12.358V11.636C20.877 11.236 20.574 10.906 20.175 10.868L20.023 10.854C19.177 10.776 18.453 10.244 18.128 9.461C17.802 8.673 17.938 7.783 18.481 7.134L18.581 7.016C18.838 6.706 18.817 6.26 18.533 5.976L18.023 5.466C17.877 5.319 17.683 5.239 17.477 5.239C17.35 5.239 17.162 5.271 16.985 5.419L16.865 5.519C16.231 6.047 15.315 6.189 14.543 5.873C13.755 5.546 13.223 4.821 13.146 3.977L13.132 3.822C13.097 3.425 12.767 3.122 12.365 3.122H11.642C11.242 3.122 10.912 3.425 10.874 3.824L10.86 3.976C10.784 4.819 10.252 5.544 9.46999 5.869C8.68299 6.195 7.77699 6.052 7.13999 5.519L7.02199 5.423C6.84199 5.273 6.65399 5.243 6.52699 5.243C6.32099 5.243 6.12699 5.323 5.98099 5.469L5.46899 5.979C5.18699 6.263 5.16599 6.709 5.42299 7.017L5.52299 7.135C6.06299 7.788 6.19999 8.679 5.87499 9.46C5.54799 10.248 4.82299 10.78 3.97999 10.857L3.82399 10.871C3.42699 10.908 3.12399 11.238 3.12399 11.641V12.363C3.12399 12.763 3.42699 13.093 3.82599 13.131L3.97599 13.145C4.82399 13.223 5.54899 13.757 5.87299 14.541C6.19799 15.327 6.06299 16.216 5.51999 16.866L5.42399 16.981C5.16399 17.291 5.18599 17.737 5.46999 18.021L5.97999 18.531C6.12599 18.678 6.31999 18.758 6.52599 18.758C6.65299 18.758 6.84099 18.728 7.01799 18.578L7.13399 18.482C7.53999 18.146 8.05699 17.958 8.58699 17.958V17.955Z"
              fill="#1C1C1C" />
          </svg>
          <span>
            設定
          </span>
        </a>
        <button type="button" class="btn-tweet" data-toggle="modal" data-target="#exampleModal">
          推文
        </button>
        <button type="button" class="btn sign-out-btn d-flex fonSize18 align-items-center">
          <span class="mr-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path class="svg-fill"
                d="M11 16L7 12M7 12L11 8M7 12H21M16 16V17C16 17.7956 15.6839 18.5587 15.1213 19.1213C14.5587 19.6839 13.7956 20 13 20H6C5.20435 20 4.44129 19.6839 3.87868 19.1213C3.31607 18.5587 3 17.7956 3 17V7C3 6.20435 3.31607 5.44129 3.87868 4.87868C4.44129 4.31607 5.20435 4 6 4H13C13.7956 4 14.5587 4.31607 15.1213 4.87868C15.6839 5.44129 16 6.20435 16 7V8"
                stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
          <span>
            登出
          </span>
        </button>
      </nav>
      <div id="hidden-user-info" class=""></div>
      {{{body}}}
    </div>

  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>

  <script src="/javascripts/script.js"></script>
</body>

</html>