<div id="user-box" class="col-3 border-left border-right p-0 m-0 h-100">
  <div class="d-flex justify-content-between ml-3" id="status-box">
    <div>訊息</div>
    <button class="mr-2" style="border:0;cursor:pointer;background:azure" type="button" data-toggle="modal"
      data-target="#exampleModal">
      <i class="fa fa-envelope "></i>
    </button>
  </div>
  <div id="user-list">
    <ul id="users" class="border-top">
      {{#each data}}
      <button data-id="{{this.userId}}" user-id="{{../id}}" onclick="showChatHistory(this)"
        style="width: 298px;border:0">
        <li style="cursor: pointer;">
          <img src="{{this.userAvatar}}" alt="">
          <strong>{{this.userName}}</strong>
          <strong id="user-account">{{this.userAccount}}</strong>
        </li>
      </button>
      {{/each}}
    </ul>
  </div>
</div>

<div id="chat-box" class="col-6 p-0 m-0 h-100 w-100 border-right">
  <div id="other-user-box">
    <div class="title-wrapper border-bottom" style="background-color:#ffffff;">
      <div class="other-user-name ml-3">Name{{ data.userName }}
      </div>
      <div class="other-user-account mt-0 ml-3">@account{{ data.account}}
      </div>
    </div>
  </div>
  <div id="content">
<ul class="border-bottom px-0 my-1 w-100" id="messages">
</ul>
</div>
<div class="w-100" id="send-box">
  <div id="userInfo" style="visibility:hidden;display: none;">{{name}}
  </div>
  <form id="send-form" action="" class="w-100">
    <input id='userId' type="hidden" name="userId" value="{{id}}" />
    <input id='userAvatar' type="hidden" name="userAvatar" value="{{avatar}}" />
    <input id='userName' type="hidden" name="userName" value="{{name}}">
    <div class="w-100 d-flex nowrap" id="input-and-button">
      <input rows="1" class="ml-2" id="text-input-area" autocomplete="off" placeholder="please type message..." style="width: 100%;padding: 10px 20px;border-radius: 50px;
      background: #F5F8FA;"></input>
      <button class="mx-3">
        <?xml version="1.0" encoding="iso-8859-1"?>
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 488.721 488.721" style="enable-background:new 0 0 488.721 488.721;" width="24"
          height="22" xml:space="preserve">
          <g>
            <g>
              <path d="M483.589,222.024c-5.022-10.369-13.394-18.741-23.762-23.762L73.522,11.331C48.074-0.998,17.451,9.638,5.122,35.086
        			C-1.159,48.052-1.687,63.065,3.669,76.44l67.174,167.902L3.669,412.261c-10.463,26.341,2.409,56.177,28.75,66.639
        			c5.956,2.366,12.303,3.595,18.712,3.624c7.754,0,15.408-1.75,22.391-5.12l386.304-186.982
        			C485.276,278.096,495.915,247.473,483.589,222.024z M58.657,446.633c-8.484,4.107-18.691,0.559-22.798-7.925
        			c-2.093-4.322-2.267-9.326-0.481-13.784l65.399-163.516h340.668L58.657,446.633z M100.778,227.275L35.379,63.759
        			c-2.722-6.518-1.032-14.045,4.215-18.773c5.079-4.949,12.748-6.11,19.063-2.884l382.788,185.173H100.778z" />
            </g>
          </g>
        </svg>
      </button>
    </div>
  </form>
</div>

</div>

{{!-- <div id="content">
  <ul id="messages"></ul>
</div>
<div id="send-box">
  <div id="userInfo" style="visibility:hidden;display: none;">{{name}}</div>
  <form id="send-form" action="">
    <input id='userId' type="hidden" name="userId" value="{{id}}" />
    <input id='userAvatar' type="hidden" name="userAvatar" value="{{avatar}}" />
    <input id='userName' type="hidden" name="userName" value="{{name}}" />
    <input id="m" autocomplete="off" placeholder="please type message..." /><button>Send</button>
  </form>
</div> --}}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/chat/private" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Who you want to send?</label>
            <select class="form-control" id="exampleFormControlSelect1" style="cursor: pointer;">
              {{#each users}}
              <option name="{{this.id}}">{{this.name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">What you want to say?</label>
            <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" id="submit" name="submit" class="btn btn-primary">Send</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>

  </div>
</div>

<script src="/javascripts/privateChat.js"></script>