<div id="container">
  <div id="user-box">
    <div id='user-title'>Chat Box</div>
    <div id="user-list">
      <ul id="users">
        {{#each data}}
        <button data-id="{{this.userId}}" user-id="{{../id}}" onclick="showChatHistory(this)" style="width: 350px;">
          <li style="cursor: pointer;">
            <img src="{{this.userAvatar}}" alt="">
            <strong>{{this.userName}}</strong>
            <strong id="user-account">{{this.userAccount}}</strong>
          </li>
        </button>
        {{/each}}
      </ul>
    </div>
  </div>
  <div id="chat-box">
    <div id="status-box">Server: <strong id="status">-</strong> / <strong id="online">0</strong> online</div>
    <div id="content">
      <ul id="messages"></ul>
    </div>
    <div id="send-box">
      <div id="userInfo" style="visibility:hidden;display: none;">{{name}}</div>
      <form id="send-form" action="">
        <input id='userId' type="hidden" name="userId" value="{{id}}" />
        <input id='userAvatar' type="hidden" name="userAvatar" value="{{avatar}}" />
        <input id='userName' type="hidden" name="userName" value="{{name}}" />
        <input id="m" autocomplete="off" placeholder="please type message..." /><button>Send</button>
      </form>
    </div>
  </div>
</div>
<script src="/javascripts/privateChat.js"></script>