<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="{{user.cover}}" class="card-img-top" alt="..." style="width: 300px;">
      <img src="{{user.avatar}}" class="card-img-top" alt="..." style="width: 300px;"> 
     <div class="card-body">
      <h5 class="card-title">使用者帳號 : {{user.account}} </h5>
      <p class="card-text">內容:{{user.introduction}}</p>
    </div>
        <ul class="list-group list-group-flush">
      <li class="list-group-item">推文者的 id {{user.id}}</li>
      <li class="list-group-item">推文者的名字 {{ user.name}}</li>
      {{!-- <li class="list-group-item">A third item</li> --}}
    </ul>
    </div>
  <a href="/users/{{user.id}}/edit" class="card-link">edit</a>
  </div>
</div>